// TODO: extract variable definitions to a theme file
// TODO: include and make theme selector
$colorADark: #5998B4;
$colorALight: #D1F1FF;
$colorAMiddle: #B8EAFF;
$colorBDark: #B38B5D;
$colorBLight: #FFDEB8;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $colorADark;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  &:visited {
    color: $colorADark;
  }

  &:active,
  &:link {
    color: $colorALight;
  }
}

.App-footer {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $colorBDark;
}

.App-footer-links {
  column-count: 3;
  list-style: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
